body {
  font-family: Arial, sans-serif;
  width: 220px;
  padding: 5px;
}

div {
  margin: 4px 0;
}

label {
  display: inline-block;
  width: 150px;
}

input[type="range"] {
  width: 100%;
}

.hidden {
  display: none;
}

.filterRanges{
  display: flex;
}